.mini_tag_container{
    margin-left: 8px;
    width: fit-content;
    height: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mini_tag_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mini_tag_text{
    width: fit-content;
    height: 13px;
    color: #AAAAAA;
    font-size: 10px;
    margin-left: 2px;  
    overflow: hidden;  
    text-overflow:ellipsis;
}
