.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background-color: #333333;
    overflow: visible;
    align-items: center;
}

.search_menu{
    display: flex;
}

.tasks_menu{
    display: flex;
    align-items: center;
    margin-left: -20px;
    transition: 0.5s;
}

.plus_todo{
    width: 22px;
    height: 22px;
}
.plus_button{
    padding: 0 0 0 0;
    outline: none;
    display: flex;
    align-items: center;
    border: 0px;
    width: 22px;
    height: 22px;
    background-color: inherit;
    border-radius: 3px;
    transition: 0.1s;
}

.plus_button:hover{
    cursor: pointer;
    transform: translateY(-0.5px);
    background-color: #575757;
    transition: 0.1s;
}

.plus_button:active{
    transform: translateY(0.2px);
}

.tasks_complete{
    margin-left: 5px;
    color: white;
    cursor: help;
}

.exit{
    padding: 0 0 0 0;
    outline: none;
    display: flex;
    align-items: center;
    border: 0px;
    width: 22px;
    height: 22px;
    background-color: inherit;
    border-radius: 3px;
    transition: 0.1s;
    margin-right: 10px;
    cursor: pointer;
}

.exit:hover{
    cursor: pointer;
    transform: translateY(-0.5px);
    background-color: #575757;
    transition: 0.1s;
}

.exit:active{
    transform: translateY(0.2px);
}

.exit_icon{
    width: 20px;
    height: 20px;
    padding: 1px 0 0 2px;
}

.move_task_menu{
    transition: 0.5s;
    margin-left: 230px;
}

.select_date{
    position: relative;
    overflow: visible;
    width: 250px;
}

.shown_calendar{
    position: absolute;
    left: -110px;
    z-index: 10;
}

.calendar_hidden{
    display: none;
}