.variant{
    display: flex;
    position:absolute;

    margin-top: 30px;
    width: 190px;
    height: 20px;
    background-color: #575757;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding-left: 10px;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.variant_hide{
    display: none;
}

.variant:hover{
    background-color: #444444;
    transition: 0.5s;
}