.sidebar{
    height: calc(100vh-30px);
    width: 0px;
    min-width: 0px;
    background-color: #212121;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.active_sidebar{
    min-width: 270px;
    transition: 0.5s;
}