.plan_tag_container{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}

.plan_tag_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.plan_tag_text{
    width: 100px;
    height: 13px;
    color: #AAAAAA;
    font-size: 11px;
    margin-left: 2px;  
    overflow: hidden;  
    text-overflow:ellipsis;
}